[submodule "arnold-skills"]
	path = services/arnold-skills
	url = https://github.com/luizarnoldch/arnold-skills.git
[submodule "services/arnold-laboratory-api"]
	path = services/arnold-laboratory-api
	url = https://github.com/luizarnoldch/arnold-laboratory-api.git
[submodule "services/chavez-cli"]
	path = services/chavez-cli
	url = https://github.com/luizarnoldch/chavez-cli.git
[submodule "services/arnold-lab-orchestrator"]
	path = services/arnold-lab-orchestrator
	url = https://github.com/luizarnoldch/arnold-lab-orchestrator.git
[submodule "services/web-ui"]
	path = services/web-ui
	url = https://github.com/luizarnoldch/arnold-lab-web-ui.git
